.movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #ddd;
}

.movies a {
    text-decoration: none;
    color: #ddd;
    transition: all .4s ease;
}

.movies a:hover {
    background: #212121;
}

.movie {
    padding: 2.6em;
}

.movie .movie-author {
    margin: 0.25em;
}