
.navbar {
  font-family: "Arial";
  font-style : bold;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-link {
  display: inline-block;
  padding: 0.8em 1.4em;
}

.nav-link a {
  text-decoration: none;
  color: #eee;
  transition: all .4s ease;
}

.nav-link a:hover {
  color: #aaa;
}

.nav-link-active {
  font-weight: 700;
}