* {box-sizing: border-box}


/* Full-width input fields */
input[type=text] {
  width: 30%;
  height: 10px;
  padding: 12px;
  margin: 0px 0px 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.6;
}

.registerbtn:hover {
  opacity:1;
}
