.home-logo {
  justify-content: center;
  font-size: 1.5em;
  color: #DB202C;
  font-family: "Arial";
  font-style : bold;
}

#search-input {
  background: #212121;
  border: none;
  color: #eee;
  height: 3.5em;
  width: 25em;
  margin-right: 20px;
  text-align: center;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 0;
}

#search-input:focus {
  outline: none;
}

#search-btn {
  background: transparent;
  padding: 0.5em;
  font-size: 0.9em;
  border: none;
  border-radius: 2em;
  transition: all .4s ease;
  margin-left: -3.5em;
}

#search-btn:hover {
  background: #000;
  transform: scale(1.4);
}

#search-btn:focus {
  outline: none;
}